<template>
     <div v-if="allPerson.length ">
          <div
            class="passport"
            v-for="(item, index) of allPerson"
            :key="item.id"
          >
            <p>{{ index + 1 }}</p>
            <h1>{{ item.title }}</h1>
            <p>{{ item.body }}</p>
            <p>{{ item.completed }}</p>
          </div>
        </div>
</template>

<script>
export default {
    props: ['allPerson']
}
</script>

