<template>
    <div v-if="results != []">
          <div v-bind:class="{ passport: completed }">
             <!-- <p>{{results.passports.endDate}}</p> 
            <p>{{results.passports.passportNumber}}</p>
            <p>{{results.passports.startDate}}</p>
            <p>{{results.passports.upassportId}}</p>
            <p>{{ results.name }}</p>
            <p>{{ results.patronymic }}</p>
            <p>{{ results.surname}}</p> -->
          </div>
        </div>
</template>

<script>
export default {
    props: ['results','completed']
}
</script>