<template>
    <div v-if="results != []">
          <div v-bind:class="{ passport: completed }">
            <h1>{{ results.login }}</h1>
            <p>{{ results.id }}</p>
            <img :src="results.avatar_url" />
          </div>
        </div>
</template>

<script>
export default {
    props: ['passport', 'results','completed']
}
</script>