<template>
  <div id="app">
    <v-app id="app">
      <div>
        <v-form ref="form" v-model="valid" lazy-validation class="searchId">
        <v-text-field
          class="searchID"
          label="Search vehicle by id"
          hide-details="auto"
          v-model="vehicle"
        ></v-text-field>
        <v-btn color="#244564" id="searchBtn" @click="searchById()">Search</v-btn>
        <v-btn color="#244564" id="getAllBtn" @click="searchAll()">Get All</v-btn>
        <!-- <v-btn color="red">Clear</v-btn> -->
</v-form>
      </div>
    </v-app>
  </div>
</template>


<script>
import { searchAll, searchById} from "@/services/searchVehicle.service";

export default {
  
  data() {
    return {
      vehicle:'',
      valid: true,
      completed: false,
      allVehicle:[],
      results: [],
       
    };
  },
  methods: {
    searchAll,
    searchById
  },
  components: { },
};
</script>


<style>
#searchBtn {
  margin-right: 0.5rem;
  color: white
}
#getAllBtn {
  margin-right: 0.5rem;
  color: white
}
.passport {
  border: 2px solid black;
  justify-content: center;
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.searchId {
  width: 400px;
   margin-left: 2rem;
} 
</style>

