<template>
 <v-app id="app" >
  <v-container>
    
    <v-form ref="form" class="login" v-model="valid">
      <v-jsf v-model="model" :schema="schema" :options="options" />
      <v-btn color="#244564" @click="$refs.form.validate()" id="btn">OK</v-btn>
    </v-form>
    <v-layout row class="mt-2">
      <v-spacer></v-spacer>
      
    </v-layout>
  </v-container>
</v-app>   
</template>

<script>
import schema from "../schema/login.json";
import Common from "../mixins/utl/common";



export default {
  mixins: [Common],
  data() {
    return {
      options: {},
      model: {},
      schema,
      valid: null,
    };
  },
 
};
</script>

<style>
.login {
  width: 400px;
  margin: 0 auto;
}
#btn {
  color: white
}


</style>
