<template>
  <v-app id="app">
    <v-container>
      <h1>Create person</h1>
      <router-link to='/updatePerson'>Update passport</router-link>
      <v-form
        ref="form"
        v-model="valid"
        @submit.prevent="updatePerson()"
      >
        <v-jsf v-model="model" :schema="schema" :options="options" />
        <v-btn color="orange" type="submit">Update</v-btn>
      </v-form>
      <v-layout row class="mt-2">
        <v-spacer></v-spacer>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import schema from "../schema/person.json";
import Common from "../mixins/utl/common";
import { updatePerson } from "../services/person.service";

export default {
  mixins: [Common],
  data() {
    return {
      options: {},
      model: {
        personName: "",
        personSurname: "",
        personPatronymic: "",
        passport: {
          endDate: "",
          passportNumber: "",
          startDate: "",
          upassportId: null,
        },
      },
      schema,
      valid: null,
    };
  },
  methods: {
    updatePerson,
  },
};
</script>
