<template>
  <v-app id="app">
    <v-container>
      <h1>Create vehicle</h1>
      <v-form
        ref="form"
        v-model="valid"
        @submit.prevent="createVehicleHandler()"
      >
      <h3>Vehicle</h3>
        <v-jsf v-model="model" :schema="schema" :options="options" />
        <v-btn color="#244564" type="submit" id="btn">Create</v-btn>
      </v-form>
      <v-layout row class="mt-2">
        <v-spacer></v-spacer>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import schema from "../schema/vehicle.json";
import Common from "../mixins/utl/common";
import { createVehicleHandler } from "../services/vehicle.service";

export default {
  mixins: [Common],
  data() {
    return {
      options: {},
      model: {
        carBrand: "",
        itemId: "",
        personId: "",
        vinCode: "",
      },
      schema,
      valid: null,
    };
  },
  methods: {
    createVehicleHandler,
  },
};
</script>

<style>
h3 {
  margin-right: 100rem;
}
#btn {
  color: white
}
</style>