<template>
    <v-form ref="form" v-model="valid" lazy-validation class="nsp-form">
      <v-text-field v-model="upassportId" label="Search by user id"></v-text-field>
      <v-btn color="#244564" @click="searchByUid()" id="btn">Search </v-btn>
        <NSP v-bind:results="results" v-bind:completed="completed" />
    </v-form>
 
</template>

<script>
import { searchByUid } from "@/services/search.service";
import NSP from "../Cards/NSP";

export default {
  components: {NSP},
  props: ["completed"],
  data() {
    return {
      valid: true,
      upassportId: "",
      results: [],
    };
  },
  methods: {
    searchByUid,
  },
};
</script>

<style >
.nsp-form {
  width: 400px;
  margin-left: 2rem;
}
#btn {
  color: white
}
</style>