<template>
  <div id="app">
    <v-app id="app">
      <div>
        <v-form ref="form" v-model="valid" lazy-validation class="searchId">
        <v-text-field
          label="Search passport by id"
          :rules="rules"
          hide-details="auto"
          v-model="passport"
        ></v-text-field>
        <v-btn color="#244564" id="searchBtn" @click="searchById()"
          >Search</v-btn
        >
        <v-btn color="#244564" id="getAllBtn" @click="searchAll()"
          >Get All</v-btn
        >
        <!-- <v-btn color="red">Clear</v-btn> -->
        </v-form>
        
        <PersonCard
          v-bind:passport="passport"
          v-bind:results="results"
          v-bind:completed="completed"
        />

        <AllPersonCard
          v-bind:allPerson="allPerson"
          v-bind:completed="completed"
        />
      <SearchByNSP
      v-bind:completed="completed"
      />
      <SearchByPassportNum
       v-bind:completed="completed"
      />
      <SearchByUid
       v-bind:completed="completed"
      />
      <SearchByPasNumAndUid
       v-bind:completed="completed"
      />
      </div>
    </v-app>
  </div>
</template>


<script>
//import schema from "../schema/searchPage.json";
import Common from "@/mixins/utl/common";
import { searchAll } from "@/services/search.service";
import { searchById } from "@/services/search.service";

import PersonCard from "../Cards/PersonCard";
import AllPersonCard from "../Cards/AllPersonCard";
import SearchByNSP from './SearchByNSP'
import SearchByPassportNum from './SearchByPassportNum'
import SearchByUid from './SearchByUid'
import SearchByPasNumAndUid from './SearchByPasNumAndUid'

export default {
  components: { PersonCard, AllPersonCard, SearchByNSP,
  SearchByPassportNum, SearchByUid, SearchByPasNumAndUid},
  mixins: [Common],
  data() {
    return {
      // options: {},
      passport: "",
      // schema,
      valid: true,
      completed: false,
      allPerson: [],
      results: [],
      rules: [],
       
    };
  },
  methods: {
    searchAll,
    searchById,
  },
};
</script>


<style>
#searchBtn {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  color: white

}
#getAllBtn {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  color: white
}
.passport {
  border: 2px solid black;
  justify-content: center;
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.searchId {
  width: 400px;
   margin-left: 2rem;
} 
</style>





