<template>
  <v-form ref="form" v-model="valid" lazy-validation class="nsp-form">
    <v-text-field v-model="NSP.username" label="Name"></v-text-field>

    <v-text-field v-model="NSP.patronymic" label="Patronymic"></v-text-field>

    <v-text-field v-model="NSP.surname" label="Surname"></v-text-field>

    <v-btn color="#244564" @click="searchByNSP()" id="btn">Search</v-btn>
    <NSP v-bind:results="results" v-bind:completed="completed" />
  </v-form>
</template>

<script>
import { searchByNSP } from "@/services/search.service";
import NSP from "../Cards/NSP";

export default {
  components: { NSP },
  props: ["completed"],
  data() {
    return {
      valid: true,
      NSP: {
        username: "",
        patronymic: "",
        surname: "",
      },
      results: [],
    };
  },
  methods: {
    searchByNSP,
  },
};
</script>

<style>
.nsp-form {
  width: 400px;
  margin-left: 2rem;
}
#btn {
  color: white
}
</style>
