<template>
  <v-app id="inspire">
    <v-tabs fixed-tabs background-color="#E2E2E2">
      <v-tab to="/person"> Create Person </v-tab>
      <v-tab to="/"> Search Person </v-tab>
      <v-tab to="/vehicle"> Create Vehicle </v-tab>
      <v-tab to="/searchVehicle"> Search Vehicle </v-tab>
      <v-tab to="/login"> Login </v-tab>
    </v-tabs>
    <router-view />
  </v-app>
</template>



<script>
export default {
  name: "App",
};
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background-color: #e3edf4;
}
</style>
